# --
# OTOBO is a web-based ticketing system for service organisations.
# --
# Copyright (C) 2001-2020 OTRS AG, https://otrs.com/
# Copyright (C) 2019-2024 Rother OSS GmbH, https://otobo.de/
# --
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
# --
[% RenderBlockStart("DocumentActionRow") %]
<ul class="Actions">
[% RenderBlockStart("DocumentActionRowBulk") %]
    <li id="ConfigItemBulkAction" class="AlwaysPresent Bulk Inactive [% Data.CSS | html %]"><a href="#">[% Translate(Data.Name) | html %]</a></li>
[% RenderBlockEnd("DocumentActionRowBulk") %]

[% RenderBlockStart("DocumentActionRowLastColumnFilter") %]
    <li class=""><a href="[% Env("Baselink") %]Action=[% Env("Action") %];DeleteFilters=DeleteFilters">[% Translate("Reset overview") | html %]</a></li>
[% RenderBlockEnd("DocumentActionRowLastColumnFilter") %]

[% RenderBlockStart("DocumentActionRowItem") %]
    <li class="[% Data.CSS | html %]"><a href="#">[% Translate(Data.Name) | html %]</a></li>
[% RenderBlockEnd("DocumentActionRowItem") %]
</ul>
[% RenderBlockEnd("DocumentActionRow") %]

[% RenderBlockStart("DocumentContent") %]
<div id="OverviewContainer">
[% RenderBlockStart("Filters") %]
    <div id="OverviewControl" class="SideBarFilter">
[% RenderBlockStart("SideBarFilter") %]
        <ul>
[% RenderBlockStart("SideBarFilterItem") %]
[% RenderBlockStart("SideBarFilterItemSelected") %]
            <li class="Active [% Data.CSS | html %]">
                <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkFilter %]Filter=[% Data.Filter | uri %];Category=[% Data.CategoryFilter | uri %]">[% Translate(Data.Name) | html %]</a>
            </li>
[% RenderBlockEnd("SideBarFilterItemSelected") %]
[% RenderBlockStart("SideBarFilterItemSelectedNot") %]
            <li class="[% Data.CSS | html %]">
                <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkFilter %]Filter=[% Data.Filter | uri %];Category=[% Data.CategoryFilter | uri %]">[% Translate(Data.Name) | html %]</a>
            </li>
[% RenderBlockEnd("SideBarFilterItemSelectedNot") %]
[% RenderBlockStart("SideBarFilterItemSplit") %]
            -
[% RenderBlockEnd("SideBarFilterItemSplit") %]
[% RenderBlockEnd("SideBarFilterItem") %]
        </ul>
[% RenderBlockEnd("SideBarFilter") %]
[% RenderBlockStart("SideBarPageBack") %]
        <ul>
            <li>
                <a name="OverviewControl" id="ITSMConfigItemSearch" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkBack %]">[% Translate("Change search options") | html %] [% Data.ProfileName | html %]</a>
            </li>
        </ul>
[% RenderBlockEnd("SideBarPageBack") %]
    </div>
[% RenderBlockEnd("Filters") %]

    <div id="OverviewBody" class="Overview ConfigItemList">
[% RenderBlockStart("NoConfigItemFound") %]
        <div id="EmptyMessageSmall">
            [% Translate("No config item data found.") | html %]
        </div>
[% RenderBlockEnd("NoConfigItemFound") %]

        <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="matrix">
            <input type="hidden" name="Action" value="AgentITSMConfigItemBulk"/>
            <input type="hidden" name="ConfigItemID" value=""/>
            <input type="hidden" name="LastColumnFilter" id="LastColumnFilter" value="[% Data.LastColumnFilter | html %]"/>
[% RenderBlockStart("OverviewTable") %]
            <table class="TableSmall NoCellspacing">
                [% Data.StyleClasses %]
[% RenderBlockStart("TableHeader") %]
                <thead>
                    <tr>

[% RenderBlockStart("GeneralOverviewHeader") %]

[% RenderBlockStart("BulkNavBar") %]
                        <th class="Checkbox">
                            <input type="checkbox" class="Checkbox" title="[% Translate("Select all") | html %]" id="SelectAllConfigItems" autocomplete="off" />
                        </th>
[% RenderBlockEnd("BulkNavBar") %]
[% RenderBlockStart("OverviewNavBarPageFlag") %]
                        <th class="OverviewHeader [% Data.CSS | html %]" title="[% Translate(Data.Title) | html %]">
[% RenderBlockStart("OverviewNavBarPageFlagLink") %]
                            <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") | uri %];[% Data.LinkSort %];SortBy=[% Data.Name | uri %];OrderBy=[% Data.OrderBy | uri %]" title="[% Translate(Data.Title) | html %]">
                                <em class="PrintOnly">[% Translate(Data.Title) | html %]</em>
                            </a>
[% RenderBlockEnd("OverviewNavBarPageFlagLink") %]
[% RenderBlockStart("OverviewNavBarPageFlagEmpty") %]
                            <span title="[% Translate(Data.Name) | html %]">
                                <em class="PrintOnly">[% Translate(Data.Name) | html %]</em>
                            </span>
[% RenderBlockEnd("OverviewNavBarPageFlagEmpty") %]
                        </th>
[% RenderBlockEnd("OverviewNavBarPageFlag") %]

[% RenderBlockStart("OverviewNavBarPageConfigItemHeader") %]
[% RenderBlockStart("OverviewNavBarPageNumber") %]
                        <th class="OverviewHeader [% Data.CSS | html %]">
                            <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=Number;OrderBy=[% Data.OrderBy | uri %]" title="[% Translate(Data.Title) | html %]">[% Data.ColumnNameTranslated | html %]</a>
                        </th>
[% RenderBlockEnd("OverviewNavBarPageNumber") %]
[% RenderBlockStart("OverviewNavBarPageColumn") %]
                        <th class="OverviewHeader [% Data.HeaderColumnName | html %] [% Data.CSS | html %]">

[% RenderBlockStart("OverviewNavBarPageColumnFilter") %]
                            <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
                                <i class="fa fa-filter"></i>
                            </a>
                            <div class="ColumnSettingsContainer DontPrint">
                                <div class="ColumnSettingsBox">
                                    [% Data.ColumnFilterStrg %]
                                </div>
                            </div>
                            <span class="Gray" title="[% Data.Title | html %]">[% Data.ColumnNameTranslated | html %]</span>
[% RenderBlockEnd("OverviewNavBarPageColumnFilter") %]

[% RenderBlockStart("OverviewNavBarPageColumnFilterLink") %]
                            <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
                                <i class="fa fa-filter"></i>
                            </a>
                            <div class="ColumnSettingsContainer DontPrint">
                                <div class="ColumnSettingsBox">
                                    [% Data.ColumnFilterStrg %]

[% RenderBlockStart("ContentLargeConfigItemGenericHeaderColumnFilterLinkUserSearch") %]
                                    <input type="text" class="UserAutoComplete" autocomplete="off" />
[% RenderBlockEnd("ContentLargeConfigItemGenericHeaderColumnFilterLinkUserSearch") %]
                                </div>
                            </div>
                            <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=[% Data.ColumnName | uri %];OrderBy=[% Data.OrderBy | uri %]" title="[% Translate(Data.Title) | html %]">[% Data.ColumnNameTranslated | html %]</a>
[% RenderBlockEnd("OverviewNavBarPageColumnFilterLink") %]

[% RenderBlockStart("OverviewNavBarPageColumnLink") %]
                            <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=[% Data.ColumnName | uri %];OrderBy=[% Data.OrderBy | uri %]" title="[% Translate(Data.Title) | html %]">[% Data.ColumnNameTranslated | html %]</a>
[% RenderBlockEnd("OverviewNavBarPageColumnLink") %]

[% RenderBlockStart("OverviewNavBarPageColumnEmpty") %]
                            <span class="Gray" title="[% Data.Title | html %]">[% Data.ColumnNameTranslated | html %]</span>
[% RenderBlockEnd("OverviewNavBarPageColumnEmpty") %]

                        </th>
[% RenderBlockEnd("OverviewNavBarPageColumn") %]
[% RenderBlockEnd("OverviewNavBarPageConfigItemHeader") %]

[% RenderBlockStart("OverviewNavBarPageDynamicField") %]
                        <th class="OverviewHeader [% Data.HeaderColumnName | html %] DynamicField Last [% Data.CSS | html %]">
[% RenderBlockStart("OverviewNavBarPageDynamicFieldSortable") %]
                            <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=DynamicField_[% Data.DynamicFieldName | uri %];OrderBy=[% Data.OrderBy | uri %]" title="[% Translate(Data.Title) | html %]">[% Translate(Data.Label) | html %]</a>
[% RenderBlockEnd("OverviewNavBarPageDynamicFieldSortable") %]
[% RenderBlockStart("OverviewNavBarPageDynamicFieldNotSortable") %]
                            <span class="Gray" title="[% Data.Title | html %]">[% Translate(Data.Label) | html %]</span>
[% RenderBlockEnd("OverviewNavBarPageDynamicFieldNotSortable") %]

[% RenderBlockStart("OverviewNavBarPageDynamicFieldFiltrableSortable") %]
                            <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
                                <i class="fa fa-filter"></i>
                            </a>
                            <div class="ColumnSettingsContainer DontPrint">
                                <div class="ColumnSettingsBox">
                                    [% Data.ColumnFilterStrg %]
                                </div>
                            </div>
                            <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=DynamicField_[% Data.DynamicFieldName | uri %];OrderBy=[% Data.OrderBy | uri %]" title="[% Translate(Data.Title) | html %]">[% Translate(Data.Label) | html %]</a>
[% RenderBlockEnd("OverviewNavBarPageDynamicFieldFiltrableSortable") %]

[% RenderBlockStart("OverviewNavBarPageDynamicFieldFiltrableNotSortable") %]
                            <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
                                <i class="fa fa-filter"></i>
                            </a>
                            <div class="ColumnSettingsContainer DontPrint">
                                <div class="ColumnSettingsBox">
                                    [% Data.ColumnFilterStrg %]
                                </div>
                            </div>
                            <span class="Gray" title="[% Data.Title | html %]">[% Data.Label | html %]</span>
[% RenderBlockEnd("OverviewNavBarPageDynamicFieldFiltrableNotSortable") %]

                        </th>
[% RenderBlockEnd("OverviewNavBarPageDynamicField") %]

[% RenderBlockEnd("GeneralOverviewHeader") %]

# example of how to use fixed dynamic field blocks for customizations
# Note: Field1 and Field2 are the names of the fields and had to be replaced with the actual
# field names
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field1") %]
#                    <th class="DynamicField Last [% Data.CSS | html %]">
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field1_Sortable") %]
#                        <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=DynamicField_[% Data.DynamicFieldName | uri %];OrderBy=[% Data.OrderBy | uri %]">[% Translate(Data.Label) | html %]</a>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field1_Sortable") %]
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field1_NotSortable") %]
#                        <span class="Gray" title="[% Data.Title | html %]">[% Translate(Data.Label) | html %]</span>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field1_NotSortable") %]
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field1_FiltrableSortable") %]
#                        <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
#                            <i class="fa fa-filter"></i>
#                        </a>
#                        <div class="ColumnSettingsContainer DontPrint">
#                            <div class="ColumnSettingsBox">
#                                [% Data.ColumnFilterStrg %]
#                            </div>
#                        </div>
#                        <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=DynamicField_[% Data.DynamicFieldName | uri %];OrderBy=[% Data.OrderBy | uri %]" title="[% Translate(Data.Title) | html %]">[% Data.Label | html %]</a>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field1_FiltrableSortable") %]
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field1_FiltrableNotSortable") %]
#                        <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
#                            <i class="fa fa-filter"></i>
#                        </a>
#                        <div class="ColumnSettingsContainer DontPrint">
#                            <div class="ColumnSettingsBox">
#                                [% Data.ColumnFilterStrg %]
#                            </div>
#                        </div>
#                        <span class="Gray" title="[% Data.Title | html %]">[% Data.Label | html %]</span>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field1_FiltrableNotSortable") %]
#                    </th>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field1") %]
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field2") %]
#                    <th class="DynamicField Last [% Data.CSS | html %]">
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field2_Sortable") %]
#                        <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=DynamicField_[% Data.DynamicFieldName | uri %];OrderBy=[% Data.OrderBy | uri %]">[% Translate(Data.Label) | html %]</a>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field2_Sortable") %]
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field2_NotSortable") %]
#                        <span class="Gray" title="[% Data.Title | html %]">[% Translate(Data.Label) | html %]</span>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field2_NotSortable") %]
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field2_FiltrableSortable") %]
#                        <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
#                            <i class="fa fa-filter"></i>
#                        </a>
#                        <div class="ColumnSettingsContainer DontPrint">
#                            <div class="ColumnSettingsBox">
#                                [% Data.ColumnFilterStrg %]
#                            </div>
#                        </div>
#                        <a name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=DynamicField_[% Data.DynamicFieldName | uri %];OrderBy=[% Data.OrderBy | uri %]" title="[% Translate(Data.Title) | html %]">[% Data.Label | html %]</a>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field2_FiltrableSortable") %]
#[% RenderBlockStart("OverviewNavBarPageDynamicField_Field2_FiltrableNotSortable") %]
#                        <a href="#" class="ColumnSettingsTrigger" title="[% Data.FilterTitle | html %]">
#                            <i class="fa fa-filter"></i>
#                        </a>
#                        <div class="ColumnSettingsContainer DontPrint">
#                            <div class="ColumnSettingsBox">
#                                [% Data.ColumnFilterStrg %]
#                            </div>
#                        </div>
#                        <span class="Gray" title="[% Data.Title | html %]">[% Data.Label | html %]</span>
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field2_FiltrableNotSortable") %]
#[% RenderBlockEnd("OverviewNavBarPageDynamicField_Field2") %]
#                    </th>

                    </tr>
                </thead>
[% RenderBlockEnd("TableHeader") %]
[% RenderBlockStart("TableBody") %]
                <tbody>
[% RenderBlockStart("Record") %]
                    <tr id="ConfigItemID_[% Data.ConfigItemID | html %]" class="MasterAction">

[% RenderBlockStart("GeneralOverviewRow") %]

[% RenderBlockStart("Bulk") %]
                        <td class="Checkbox NonTextContent">
                            <input class="Checkbox" type="checkbox" name="ConfigItemID" title="[% Translate("Select this config item") | html %]" value="[% Data.ConfigItemID | html %]"  autocomplete="off" />
                        </td>
[% RenderBlockEnd("Bulk") %]
[% RenderBlockStart("ContentLargeConfigItemGenericRowMeta") %]
                        <td class="[% Data.ClassTable | html %]" title="[% Translate(Data.Title) | html %]">
[% RenderBlockStart("ContentLargeConfigItemGenericRowMetaImage") %]
                            <div class="[% Data.Class | html %] Small" title="[% Translate(Data.Title) | html %]">
                                <span class="[% Data.ClassSpan | html %]">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <em>[% Translate(Data.Title) | html %]</em>
                                </span>
                            </div>
[% RenderBlockEnd("ContentLargeConfigItemGenericRowMetaImage") %]
                        </td>
[% RenderBlockEnd("ContentLargeConfigItemGenericRowMeta") %]

[% RenderBlockStart("RecordConfigItemData") %]
[% RenderBlockStart("RecordCurDeplState") %]
                        <td title="[% Translate(Data.CurDeplState) | html %]">
                            <div class="Flag Small">
                                <span class="[% Data.CurDeplSignal | html %]"></span>
                            </div><p class="FlaggedName">[% Translate(Data.CurDeplState) | html %]</p>
                        </td>
[% RenderBlockEnd("RecordCurDeplState") %]
[% RenderBlockStart("RecordCurInciState") %]
                        <td title="[% Translate(Data.CurInciState) | html %]">
                            <div class="Flag Small">
                                <span class="[% Data.CurInciSignal | html %]"></span>
                            </div><p class="FlaggedName">[% Translate(Data.CurInciState) | html %]</p>
                        </td>
[% RenderBlockEnd("RecordCurInciState") %]
[% RenderBlockStart("RecordNumber") %]
                        <td>
                            <a href="[% Env("Baselink") %]Action=AgentITSMConfigItemZoom;ConfigItemID=[% Data.ConfigItemID | uri %]" title="[% Data.Title | html %]" class="MasterActionLink">[% Data.Number | html %]</a>
                        </td>
[% RenderBlockEnd("RecordNumber") %]
[% RenderBlockStart("RecordConfigItemCreatedBy") %]
                        <td>
                            <div title="[% Data.UserFullname | html %] ([% Data.UserLogin | html %])">[% Data.UserFullname | truncate(50) | html %]</div>
                        </td>
[% RenderBlockEnd("RecordConfigItemCreatedBy") %]
[% RenderBlockStart("RecordConfigItemColumn") %]
                        <td>
                            <div title="[% Data.GenericValue | html %]">[% Data.GenericValue | truncate(100) | html %]</div>
                        </td>
[% RenderBlockEnd("RecordConfigItemColumn") %]
[% RenderBlockStart("RecordConfigItemColumnTranslatable") %]
                        <td>
                            <div title="[% Translate(Data.GenericValue) | html %]">[% Translate(Data.GenericValue) | html %]</div>
                        </td>
[% RenderBlockEnd("RecordConfigItemColumnTranslatable") %]
[% RenderBlockStart("RecordConfigItemColumnTime") %]
                        <td>
                            <div title="[% Data.GenericValue | Localize("TimeShort") | html %]">[% Data.GenericValue | Localize("TimeShort") | html %]</div>
                        </td>
[% RenderBlockEnd("RecordConfigItemColumnTime") %]
[% RenderBlockEnd("RecordConfigItemData") %]

[% RenderBlockStart("RecordDynamicField") %]
                        <td>
                            <div title="[% Data.Title | html %]">
[% RenderBlockStart("RecordDynamicFieldLink") %]
                                <a href="[% Data.Link | Interpolate %]" target="_blank" class="DynamicFieldLink">[% Data.Value %]</a>
[% RenderBlockEnd("RecordDynamicFieldLink") %]
[% RenderBlockStart("RecordDynamicFieldPlain") %]
                                [% Data.Value %]
[% RenderBlockEnd("RecordDynamicFieldPlain") %]
                            </div>
                        </td>
[% RenderBlockEnd("RecordDynamicField") %]

[% RenderBlockEnd("GeneralOverviewRow") %]

# example of how to use fixed dynamic field blocks for customizations
# Note: Field1 and Field2 are the names of the fields and had to be replaced with the actual
# field names
#[% RenderBlockStart("RecordDynamicField_Field1") %]
#                    <td>
#                        <div title="[% Data.Title | html %]">
#[% RenderBlockStart("RecordDynamicField_Field1_Link") %]
#                            <a href="[% Data.Link | Interpolate %]" target="_blank" class="DynamicFieldLink">[% Data.Value %]</a>
#[% RenderBlockEnd("RecordDynamicField_Field1_Link") %]
#[% RenderBlockStart("RecordDynamicField_Field1_Plain") %]
#                            [% Data.Value %]
#[% RenderBlockEnd("RecordDynamicField_Field1_Plain") %]
#                        </div>
#                    </td>
#[% RenderBlockEnd("RecordDynamicField_Field1") %]
#[% RenderBlockStart("RecordDynamicField_Field2") %]
#                    <td>
#                        <div title="[% Data.Title | html %]">
#[% RenderBlockStart("RecordDynamicField_Field2_Link") %]
#                            <a href="[% Data.Link | Interpolate %]" target="_blank" class="DynamicFieldLink">[% Data.Value %]</a>
#[% RenderBlockEnd("RecordDynamicField_Field2_Link") %]
#[% RenderBlockStart("RecordDynamicField_Field2_Plain") %]
#                            [% Data.Value %]
#[% RenderBlockEnd("RecordDynamicField_Field2_Plain") %]
#                        </div>
#                    </td>
#[% RenderBlockEnd("RecordDynamicField_Field2") %]

                    </tr>

[% RenderBlockEnd("Record") %]
                </tbody>
[% RenderBlockEnd("TableBody") %]
            </table>
[% RenderBlockEnd("OverviewTable") %]
        </form>
    </div>
</div>
[% RenderBlockEnd("DocumentContent") %]

[% RenderBlockStart("DocumentColumnFilterForm") %]
<form title="[% Translate("Column Filters Form") | html %]" action="[% Env("CGIHandle") | html %]" method="post" name="ColumnFilterAttributes" id="ColumnFilterAttributes">
[% RenderBlockStart("DocumentColumnFilterFormElement") %]
    <input type="hidden" name="[% Data.ElementName | html %]" value="[% Data.ElementValue | html %]"/>
[% RenderBlockEnd("DocumentColumnFilterFormElement") %]
</form>
[% RenderBlockEnd("DocumentColumnFilterForm") %]
